@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito), var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fb3c46;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #fb3c46;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}
